.card{
    display: flex;
    justify-content: space-between;
    height: 80%;
    flex-wrap: wrap;
    width: 100%;
    background-image: url(../bgg.gif);
    border: 3px solid red;
}

.imageCard{
    border: 3px solid rgb(54, 53, 53);
    width: 18%;
    height: 0%;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
.imageCard img{
    width: 100%;
    height: 33vh;
}

@media only screen and (max-width: 500px){
.card{
justify-content: center;
height: 80%;
} 

.imageCard{
width: 80%;   
}

}