.footer{
    width: 100%;
    height: 20%;
    background-color: rgb(20, 18, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.logo img{
    height: 80%;
}
.footer-second{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;   
}
.footer-fourth{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-fourth h2{
color: white;
}
.footer-fourth img{
    height: 22%;
    width: 18%;
}
.social{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.social img{
height: 85%;
}

@media only screen and (max-width: 500px){
.footer{
    flex-direction: column;
}
.footer-fourth{
    text-align: center;
    width: 85%;
}
.footer-fourth img{
    width: 18%;
    height: 60%;
}
.logo img{
    width: 100%;
    display: flex;
  
}

}