@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Goldman', cursive;
    font-size: 1.2rem;
    background-color: rgb(10, 10, 10);
    color: rgb(184, 184, 206);
    height: 10vh;
    position: sticky;
}
a{
    color: white;
}
.icon{
    width: 10%;
    height: 80%;
    background-image: url(ironman.png);
    background-repeat: no-repeat;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 500px){
.header{
    height: 30vh;
    flex-direction: column;
}
.icon {
    display: flex;
    justify-content: left;
    width: 25%;
    margin-left: 35px;
}


}