body{
    margin: 0px;
    padding: 0px;
}
.mainn{
    background-color: black;
}
.main{
    display: flex;
    justify-content: center;
     padding: 0px;
}

.slideshow{
  width: 88%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.slideshow img{
    width: 100%;
    height: 70vh;
}
.info{
    margin-top: 110px;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: space-between;
    color: gray;
    

}
.info1,.info2,.info3,.info4{
    text-align: justify;
    width: 20%;
    font-size: 0.8rem;
}
.info h1{
    color: white;
    font-size: 1.5rem;
}
.info h1:hover{
    color: rgb(178, 118, 235)
}

@media only screen and (max-width: 500px){
.info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info1,.info2,.info3,.info4{
    width: 100%;
    margin-bottom: 15px;
    font-size: 0.9rem;
}



}