@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body{
    margin: 0;
    padding: 0;
}
.bgimage{
    background-image: url(../superhero.jpg);
    background-position: center;
    width: 100%;
    border: 1px solid rgb(142, 231, 90);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.searchbar{
    width: 80%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 140px;
}
.searchbar input{
    margin: 30px 0;
    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    height: 40%;
    padding-bottom: 10px;
    opacity: 0.6;
    
}
.fetch{
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 50%;
}

.fetch img{
    width: 60%;
    height: 100%;
    opacity: 1;
}
.property{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Goldman', cursive;
    display: flex;
    width: 100vw;
    height: 10%;
    background-color: wheat;
    color: rgb(1, 7, 1);
 
}
.search-card{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
   
}

.img img{
    width: 60%;
    height: 80%;
  
}
@media only screen and (max-width: 500px){
.bgimage{
    height: 80%;
}
.property{
    height: 10%;
}
.search-info{
    font-size: 0.7rem;
    line-height: 10px;
}
.img img{
    height: 80%;
    width: 60%;
}

}