.main{
    height: 70vh;
    width: 100vw;
    color: white;
    background-color: black;
}
.main h1{
    color: rgb(250, 244, 244);
    font-size: 1.4rem;
}
.img img{
    height: 60%;
    width: 70%;
}

@media only screen and (max-width: 500px){

.main{
    font-size: 0.7rem;
    line-height: 13px;
    justify-content: space-around;
    margin-right: 10px;
}

.main h1{
    font-size: 0.9rem;
}


}