/* .site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .ant-layout {
 height: 100%;
  }
  .site-layout-content{
      height: 85%;
  } */
 
  .ant-layout {
    height: 100%;
     }
  Content{
      height: 100%;
      background-image: url(bggif.webm);
      
  }

  .bgimage{
    background-image: url(superhero.jpg);
    background-position: center;
    width: 100vw;
    border: 5px solid red;
    height: 100vh;
  }
  .antheader{
    border: 2px solid red;
    background-color: lavenderblush;
    color:greenyellow;
    height: 40vh;
  }